.wrapper {
    background: url('https://screenbeauty.com/image/download/4625-corona-del-mar-newport-beach-original.jpg') top center no-repeat;
    height: 100vh;
    background-size: cover;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas:
    'h h'
    'n c';
}

.contentWrapper {
    grid-area: c;
    border-radius: 10px;
    border: 3px solid #fff;
    padding: 10px;
}


